<div class="genre-index">
  <div class="row">

    <h3 class="bg-secondary">ジャンル編集</h3>
    <%= form_with model: @genre, local:true do |f| %>
      <h4 class="mt-3">
        ジャンル名
        <%= f.text_field :name %>
        <%= f.submit :"変更を保存",  class: 'btn btn-success' %>
      </h4>
    <% end %>

  </div>
</div>